<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.2.xsd">



    <!--①配置自动注册属性编辑器的CustomEditorConfigurer -->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <!--②-1属性编辑器对应的属性类型-->
                <entry key="com.ycsoft.propertyeidtor.Car">
                    <!--②-2对应的属性编辑器Bean -->
                    <bean class="com.ycsoft.propertyeidtor.CustomCarEditor"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="boss" class="com.ycsoft.propertyeidtor.Boss">
        <property name="name" value="John"/>
        <!--③该属性将使用②处的属性编辑器完成属性填充操作-->
        <property name="car" value="大众,200,200000.00"/>
    </bean>

</beans>
